meo-db-tool/src/main/resources/META-INF/xsd/Schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="attribute" type="attribute" />

	<xs:element name="attributeType" type="attributeType" />

	<xs:element name="entity" type="entity" />

	<xs:element name="entityType" type="entityType" />

	<xs:element name="entityRelationshipModel" type="entityRelationshipModel" />

	<xs:element name="jdbcDataSource" type="jdbcDataSource" />

	<xs:element name="mappableAttribute" type="mappableAttribute" />

	<xs:complexType name="attribute">
		<xs:sequence>
			<xs:element ref="attributeType" minOccurs="1" maxOccurs="1" />
			<xs:element name="value" type="xs:anyType" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="attributeType">
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="isPrimaryKey" type="xs:boolean" />
	</xs:complexType>

	<xs:complexType name="entity">
		<xs:sequence>
			<xs:element ref="entityType" minOccurs="1" maxOccurs="1" />
			<xs:element name="attributes">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="attribute" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="entityRelationshipModel">
		<xs:sequence>
			<xs:element name="entityTypes">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="entityType" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" />
	</xs:complexType>

	<xs:complexType name="entityType">
		<xs:sequence>
			<xs:element name="attributeTypes">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="attributeType" minOccurs="0"
							maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" />
	</xs:complexType>

	<xs:complexType name="jdbcDataSource">
		<xs:sequence>
			<xs:element name="url" type="xs:string" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="username" type="xs:string" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="password" type="xs:string" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="driver" type="xs:string" />
	</xs:complexType>

	<xs:complexType name="mappableAttribute">
		<xs:sequence>
			<xs:element ref="attributeType" minOccurs="1" maxOccurs="1" />
			<xs:element name="value" type="xs:anyType" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>